{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": "eslint:recommended",
  "plugins": [
    "react"
  ],
  "rules": {
    "semi": 2,
    "no-var": 2,
    "vars-on-top": 2,
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  }
}
