@value colors: "../assets/variables.css";
@value darkSquare, boardWidthLarge, boardWidthMedium, boardWidthSmall from colors;

.Board {
    margin: 20px auto;
}

.Board-Info {
}

.Board-Data {
    display: flex;
    flex-wrap: wrap;
    width: boardWidthLarge;
    border: 1px solid darkSquare;
    padding: 5px;
    margin: 0 auto;
}

@media only screen and (max-width: 720px) {
    .Board-Data {
        width: boardWidthMedium;
    }
}

@media only screen and (max-width: 580px) {
    .Board-Data {
        width: boardWidthSmall;
    }
}
