@value colors: "../assets/variables.css";
@value darkSquare, boardMaxWidth, boardMinWidth from colors;

.Board {
    max-width: boardMaxWidth;
    min-width: boardMinWidth;
    margin: 20px auto;
}

.Board-Info {
}

.Board-Data {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid darkSquare;
    padding: 5px;
    box-sizing: border-box;
}
