@value colors: "../assets/variables.css";
@value darkSquare, lightSquare, hoverSquare from colors;

.Square {
    background: lightSquare;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    height: 0;
    padding-bottom: 12.5%;
    position: relative;
    width: 12.5%;
}
.Square:nth-child(-n+8) {
    border-top: 1px solid #000;
}
.Square:nth-child(8n) {
    border-right: 1px solid #000;
}
.Square.Even:nth-child(even), .Square.Odd:nth-child(odd) {
    background: darkSquare;
}
.Square.Over {
    background: hoverSquare !important;
}

.Square > i {
    left: 0;
    position: absolute;
    top: 0;
    color: #737373;
    font-size: 12px;
}
